@tailwind base;
@tailwind components;

#gradient {
  background: linear-gradient(-45deg, #00a2ff, #00e5cb, #ffe765, #ffb700);
  background-size: 400% 400%;
  animation: gradient 15s ease-in-out infinite;
  height: 110%;
}
@layer base {
  html,
  body {
    font-family: "Inter", sans-serif;
  }
  ::selection {
    background: rgba(0, 229, 203, 0.25);
  }
  li {
    list-style: none;
  }
}

@layer components {
  .gold-text-shadow {
    text-shadow: 1px 1px 0px rgba(245, 158, 11, 1);
  }
  .gold-text-shadow-2 {
    text-shadow: 2px 2px 0px rgba(245, 158, 11, 1);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
